<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">  
</head>
<body>   
        <p>
            @ViewBag.Greeting
            @ViewBag.UserName, How are u ?
        </p>
        <p>
            I hope you are satisfied with our courses

            for some details <a asp-action="details" asp-controller="course">.NET Core</a>
        </p> 
        <p>
            <a asp-action="apply" asp-controller="course">Apply to .NET Core course</a>
        </p>
</body>
</html>