@model Student

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h2>Hi , @Model.name</h2>
        <hr>
        @if ( Model.confirm ==true)
        {
        <span>
            Thank you for participating.
        </span>
        <div>wanna check others <a asp-action="List">Check</a> </div>
        }
        else {
            <span>
            We're sorry
            </span>
                }
</body>
</html>