@model Student

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Thanks</title>
</head>
<body>

        <div class="container m-4" >
            <div class="card mx-auto" style="width:800px;">
                
                <div class="card-header">
                     Hi , @Model.name

                </div>
                <div class="card-body">
                    @if ( Model.confirm ==true)
                    {
                    <span>
                        Thank you for participating.
                    </span>
                    <div>wanna check others <a asp-action="List">Check</a> </div>
                    }
                    else {
                        <span>
                        We're sorry
                        </span>
                            }

            </div>

        </div>
</body>
</html>